<!DOCTYPE html>
<html>
<head>
	<title>Albumz</title>
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/slate/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	 <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Albumz</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse navbar-right" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto pull-right">
          <li class="nav-item ">
            <a class="nav-link" href="/users/register">Register </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/login">Login</a>
          </li>
        </ul>        
      </div>
    </nav>

    <div class="container" style="margin-top:100px ">
    	<div class="row">
    		<div class="col-md-3">
    			<ul class="list-group" style="list-style: none;">
    				<li class="list-group-items" style="padding-bottom: 10px;font-size: 28px;">
    					<a href="/albums" style="text-decoration: none;">View Albums</a>
    				</li>
    				<li class="list-group-items" style="font-size: 28px;">
    					<a href="/genres" style="text-decoration: none;">View Genres</a>
    				</li>
    			</ul>
    		</div>
    		<div class="col-md-9">
    			
    		